.about {
  margin: auto;
  width: 65%;
  padding-top: 100px;
}

.about-content {
  h1 {
    color: #F0BF42;
    font-size: 2em;
    letter-spacing: -1px;
  }

  p {
    font-size: 2em;
    letter-spacing: -1px;
  }
}