.home-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .home-top--wrapper {
    background-color: #252422;
  }

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
  }

  .header {
    position: relative;
    z-index: 1;
  }

  .header-logo--btn {
    background-color: #afd8ff;
    padding: 20px 25px 20px 23px;
    border-radius: 15px;
    color: #252422;
  }

  .header-logo--btn:hover {
    background-color: transparent;
    padding: 20px 25px 20px 23px;
    border-radius: 15px;
    color: #ffffff;
  }

  .header-logo {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -3px;
  }

  .header-icons {
    gap: 45px;
    padding: 25px 0 0 0;
  }

  .home-intro {
    padding: 12vh 0 5px 0;
    text-align: center;
    background-color: #252422;
    color: #85b5e2;
    font-size: 40px;
  }

  .home--avatar-bg {
    position: relative;
    z-index: 0;
    margin: -100px 0 -390px 50px;
  }

  .home--avatar {
    position: relative;
    z-index: 1;
    margin: 0 0 40px 0;
  }

  .home--intro-text {
    position: relative;
    z-index: 1;
    margin-top: -125px;
    display: flex;
    justify-content: center;
  }

  .home--intro-title {
    position: relative;
    z-index: 1;
    font-weight: lighter;
    font-size: 30px;
    padding: 85px 0 0 25px;
    color: #ffffff;
  }

  .home-hr {
  }

  .home-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 1.25em;
    font-weight: 400;
    gap: 75px;
    padding: 25px 0 144px 0;
    color: #afd8ff;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

/* unvisited link */
a:link {
  color: #afd8ff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #afd8ff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #afd8ff;
}
