.home-wrapper {
  .header {
    background-color: #252422;
  }

  .home-intro {
    padding: 20vh 0 0 0;
    text-align: center;
    background-color: #252422;
  }

  .home--avatar {
    margin: 0 0 25px 0;
  }

  .home--name {
    color: #e1e1eb;
    font-size: 40px;
  }

  .home--title {
    font-size: 40px;
    text-align: center;
  }

  .nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.25em;
    gap: 60px;
    padding-bottom: 44px;
  }
}
