.iframe-wrapper {
  overflow: hidden;
  max-width: 688px;
}

.projects-scroll-wrapper {
  background-color: #252422;
  grid-area: projects-scroll;
  margin: 0;
  min-height: 100%;
}

.projects-scroll {
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: 150px 250px 250px 250px 250px 250px 250px 250px auto;
  grid-template-areas:
    'br-1 br-1'
    'project-1-left project-1-right'
    'project-2-left project-2-right'
    'project-3-left project-3-right'
    'project-4-left project-4-right'
    'project-5-left project-5-right'
    'project-6-left project-6-right'
    'project-7-left project-7-right'
    'br-2 br-2';
}

.projects-scroll-br {
  grid-area: br-1;
}

.project-1--left {
  grid-area: project-1-left;
}

.project-1--right {
  grid-area: project-1-right;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-1--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-1--tech {
    padding: 15px 40px 0 40px;

    .project-1--tech-list {
      font-size: 16px;
    }
  }

  .project-1--btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-2--left {
  grid-area: project-2-left;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-2--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-2--tech {
    padding: 15px 40px 0 40px;

    .project-2--tech-list {
      font-size: 16px;
    }
  }

  .project-2--btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-2--right {
  grid-area: project-2-right;
  color: #84837c;
}

.project-3--left {
  grid-area: project-3-left;
}

.project-3--right {
  grid-area: project-3-right;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-3--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-3--tech {
    padding: 15px 40px 0 40px;

    .project-3--tech-list {
      font-size: 16px;
    }
  }

  .project-3--btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-4--left {
  grid-area: project-4-left;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-4--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-4--tech {
    padding: 15px 40px 0 40px;

    .project-4--tech-list {
      font-size: 16px;
    }
  }

  .project-4--btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-4--right {
  grid-area: project-4-right;
  color: #84837c;
}

.project-5--left {
  grid-area: project-5-left;
}

.project-5--right {
  grid-area: project-5-right;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-5--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-5--tech {
    padding: 15px 40px 0 40px;

    .project-5--tech-list {
      font-size: 16px;
    }
  }

  .project-5--btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-6--left {
  grid-area: project-6-left;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-6--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-6--tech {
    padding: 15px 40px 0 40px;

    .project-6--tech-list {
      font-size: 16px;
    }
  }

  .project-6--btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.project-6--right {
  grid-area: project-6-right;
  color: #84837c;
}

.project-7--left {
  grid-area: project-7-left;
}

.project-7--right {
  grid-area: project-7-right;
  color: #6c6b64;
  display: flex;
  flex-direction: column;

  .project-7--name {
    padding: 40px 0 0 40px;
    font-size: 16px;
    color: #84837c;
  }

  .project-7--tech {
    padding: 15px 40px 0 40px;

    .project-7--tech-list {
      font-size: 16px;
    }
  }

  .project-7--btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 0 43px 40px 43px;

    .live-demo {
      border: 1px solid #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #84837c;
      cursor: pointer;
    }

    .live-demo:hover {
      background-color: #e2a185;
      border: 0;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github {
      background-color: #84837c;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #252422;
      cursor: pointer;
    }

    .github:hover {
      border: 1px solid #e2a185;
      background-color: transparent;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      color: #e2a185;
      cursor: pointer;
    }
  }
}

.projects-scroll--br-2 {
  grid-area: br-2;
  margin-bottom: 500px;
}
