.App {
  display: grid;
  grid-template-columns: 80px 1.3fr 80px;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'header header header'
    'main main main'
    'nav nav nav';
  min-height: 100vh;
}

header {
  grid-area: header;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 44px 80px 0 80px;
}

.header-icons {
  display: flex;
  flex-direction: row;
}

.header-icons--github {
  padding-right: 50px;
}

main {
  grid-area: main;
}

footer {
  grid-area: nav;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
  gap: 60px;
  padding-bottom: 44px;
  z-index: 1;
}

/* unvisited link */
a:link {
  color: #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: #000000;
}
