* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #252422;
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  // overflow-y: hidden;
}
