* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: 'Times New Roman', serif;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  // overflow-y: hidden;
}